.filtroActivo{
  margin:10px;
}

.cardCelu{
  background-color: aliceblue;
  margin: 10px;
  padding:10px;
  border-radius: 10px;
}

.main{
  display: flex;
  justify-content: center;
}
.catalogo{
  width:80%;
  display: flex;
  flex-wrap: wrap;
}
.cont-catalogo{
  display: flex;
  justify-content: center;
}

.formBuscarCelular{
  /* background-color: #969af0; */
  display: flex;
  align-items: center;
  margin:10px;
}

.buscadores{
  display: flex;
  justify-content: end;
  width: 80%;
  /* background-color: rgb(127, 197, 255); */
}

.imagenSubmitBuscarCelular{
  width:20px;
}

.filtros{
  /*background-color: bisque;*/
  display: flex;
  align-items: center;
}

.inputBuscarCelular{
  border: transparent;
  border-radius: 8px;
  padding: 10px;

}.submitBuscarCelular{
  background-color: transparent;
  border: transparent;
}

.submitBuscarCelular:hover{
  cursor:pointer;
}

.dropdown {
  position:relative;
  display: inline-block;
}

.dropbtn{
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

nav .dropbtn, a{
  font-size: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #a8a8a8;
}

.dropdown:hover .dropdown-content {
  display: block;
}



nav div, a{
  margin:5px;
}

nav a{
  text-decoration: none;
}
ul{
  list-style: none;
}



header{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  text-align: center;
}
img{
  width: 80px;
}

nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #c9c9c9;
}


a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
